<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PolyFactures</title>
</head>

<style>

.texte {
	padding: 50px;
	text-align: center;
}

.bouton{
	padding: 30px;
	text-align: center;
}

</style>

<body>

	<div class="texte">
	Envoyer votre demande de création de compte client à l'addresse suivante : <br>
	compte@polyfactures.com <br>
	Après validation, vous recevrez un mail avec votre login et mot de passe à conserver avec soin. <br> 
	</div>
	
	<footer>
		<div class="bouton">
			<a class="btn btn-dark btn-sm" href="/home" role="button">Home</a>
		</div>
	</footer>

</body>
</html>
